<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>Agents</h1>

    <hr>

    <av-agent-view *ngIf="agentView" [agent]="agentSelected" (actionCanceled)="closePanel()"></av-agent-view>
    <av-agent-create *ngIf="agentCreate" (agentCreated)="refreshView()" (actionCanceled)="closePanel()"></av-agent-create>
    <av-agent-edit *ngIf="agentEdit" [agent]="agentSelected" (agentUpdated)="refreshView()" (actionCanceled)="closePanel()"></av-agent-edit>

    <hr>
    <div class="row">
      <div class="col-md-8">
        <button class="btn btn-success" (click)="createAgent()">Add Agent</button>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Filter" #f (keyup)="0">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-filter"></span>
          </span>
        </div>
      </div>
    </div>
    <hr>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>
          Photo
        </th>
        <th class="clickable" (click)="agOrderBy = 'firstName'">
          First Name
          <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </th>
        <th class="clickable" (click)="agOrderBy = 'lastName'">
          Last Name
          <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agent of agents | async | agentFilter : f.value | agentOrderBy : agOrderBy">
        <td class="img-cell">
          <img [src]="agent.imageURL"
               *ngIf="agent.imageURL"
               class="img-agent">
        </td>
        <td>{{agent.firstName}}</td>
        <td>{{agent.lastName}}</td>
        <td>
          <div>
            <p>
              <button class="btn btn-xs btn-success glyphicon glyphicon-user" type="submit" (click)="viewAgent(agent)"></button>
              <button class="btn btn-xs btn-warning glyphicon glyphicon-pencil" type="submit" (click)="editAgent(agent)"></button>
              <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" type="submit" (click)="removeAgent(agent.id)"></button>
            </p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
