<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>Agents</h1>

    <hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="input-group">
          <input type="text" class="form-control" #f (keyup)="0">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-filter"></span>
          </span>
        </div>
      </div>
    </div>
    <hr>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>First Name <span class="glyphicon glyphicon-sort-by-alphabet" type="button" (click)="agOrderBy = 'firstName'"></span></th>
        <th>Last Name <span class="glyphicon glyphicon-sort-by-alphabet" type="button" (click)="agOrderBy = 'lastName'"></span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agent of agents | async | agentFilter : f.value | agentOrderBy : agOrderBy">
        <td>{{agent.firstName}}</td>
        <td>{{agent.lastName}}</td>
        <td>
          <div>
            <p>
              <button class="btn btn-xs btn-success glyphicon glyphicon-user" type="submit"></button>
              <button class="btn btn-xs btn-warning glyphicon glyphicon-pencil" type="submit"></button>
              <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" type="submit" (click)="removeAgent(agent.id)"></button>
            </p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
