<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h2 class="panel-title">Avenger Edit - {{avenger.alias}}</h2>
      </div>
      <div class="col-xs-4 text-right">
        <button type="button" class="btn btn-xs btn-danger" (click)="onCancel()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" #avengerForm="ngForm">
      <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" name="firstName"
                 value="{{avenger.firstName}}" [(ngModel)]="avengerModel.firstName"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" name="lastName"
                 value="{{avenger.lastName}}" [(ngModel)]="avengerModel.lastName"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label for="alias" class="col-sm-2 control-label">Alias</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="alias" name="alias"
                 value="{{avenger.alias}}" [(ngModel)]="avengerModel.alias"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label for="power" class="col-sm-2 control-label">Power</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="power" name="power"
                 min="0" max="10"
                 value="{{avenger.power}}" [(ngModel)]="avengerModel.power"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="description" name="description" rows="3"
                    value="{{avenger.description}}" [(ngModel)]="avengerModel.description">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="imageURL" class="col-sm-2 control-label">Image URL</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="imageURL" name="imageURL"
                 value="{{avenger.imageURL}}" [(ngModel)]="avengerModel.imageURL">
        </div>
      </div>
      <div class="form-group" *ngIf="avengerModel.imageURL">
        <div class="col-sm-10 col-sm-offset-2">
          <img [src]="avengerModel.imageURL" class="img-form">
        </div>
      </div>
      <div class="form-group">
        <label for="agent" class="col-sm-2 control-label">Agent</label>
        <div class="col-sm-10">
          <select class="form-control" id="agent" name="agent"
                  [(ngModel)]="avengerModel.agent.id"
                  required>
            <option *ngFor="let agent of agents | async" [value]="agent.id" [selected]="avenger.agent.id === agent.id">
              {{agent.firstName}} {{agent.lastName}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-primary" (click)="editAvenger()" [disabled]="!avengerForm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
