<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h2 class="panel-title">Avenger Sheet - {{avenger.alias}}</h2>
      </div>
      <div class="col-xs-4 text-right">
        <button type="button" class="btn btn-xs btn-danger" (click)="onCancel()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="media">
        <div class="media-left">
          <img class="media-object" [src]="avenger.imageURL" alt="..." *ngIf="avenger.imageURL">
        </div>
        <div class="media-body">
          <div class="col-xs-4" style="text-align: right">
            <i>Full Name</i>
            <br>
            <i>Alias</i>
            <br>
            <i>Power</i>
            <br>
            <i>S.H.I.E.L.D Handler</i>
          </div>
          <div class="col-xs-8">
            <b>{{avenger.firstName}} {{avenger.lastName}}</b>
            <br>
            <b>{{avenger.alias}}</b>
            <br>
            <b>{{avenger.power}}</b>
            <br>
            <b>{{avenger.agent.firstName}} {{avenger.agent.lastName}}</b>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
      </div>
    </div>
  </div>
</div>
