<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Avenger Sheet - {{avenger.alias}}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4" style="text-align: right">
        <i>Full Name</i>
        <br>
        <i>Alias</i>
        <br>
        <i>Power</i>
        <br>
        <i>S.H.I.E.L.D Handler</i>
      </div>
      <div class="col-xs-8">
        <b>{{avenger.firstName}} {{avenger.lastName}}</b>
        <br>
        <b>{{avenger.alias}}</b>
        <br>
        <b>{{avenger.power}}</b>
        <br>
        <b>{{avenger.agent.firstName}} {{avenger.agent.lastName}}</b>
      </div>
      <div class="col-xs-8 col-xs-offset-4">
        <hr>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Close</button>
      </div>
    </div>
  </div>
</div>
