<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>Avengers</h1>

    <hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="input-group">
          <input type="text" class="form-control" #f (keyup)="0">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-filter"></span>
          </span>
        </div>
      </div>
    </div>
    <hr>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>First Name <span class="glyphicon glyphicon-sort-by-alphabet" type="button" (click)="avOrderBy = 'firstName'"></span></th>
        <th>Last Name <span class="glyphicon glyphicon-sort-by-alphabet" type="button" (click)="avOrderBy = 'lastName'"></span></th>
        <th>Alias <span class="glyphicon glyphicon-sort-by-alphabet" type="button" (click)="avOrderBy = 'alias'"></span></th>
        <th>Power <span class="glyphicon glyphicon-sort-by-order" type="button" (click)="avOrderBy = 'power'"></span></th>
        <th>Agent <span class="glyphicon glyphicon-sort-by-alphabet" type="button" (click)="avOrderBy = 'agent'"></span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let avenger of avengers | async | avengerFilter : f.value | avengerOrderBy : avOrderBy">
        <td>{{avenger.firstName}}</td>
        <td>{{avenger.lastName}}</td>
        <td>{{avenger.alias}}</td>
        <td>{{avenger.power}}</td>
        <td>{{avenger.agent.firstName}} {{avenger.agent.lastName}}</td>
        <td>
          <div>
            <p>
              <button class="btn btn-xs btn-success glyphicon glyphicon-user" type="submit" (click)="viewAvenger(avenger)"></button>
              <button class="btn btn-xs btn-warning glyphicon glyphicon-pencil" type="submit" (click)="editAvenger(avenger)"></button>
              <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" type="submit" (click)="removeAvenger(avenger.id)"></button>
            </p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <hr>

    <av-avenger-view *ngIf="avengerView" [avenger]="avengerViewSelected"></av-avenger-view>
    <av-avenger-edit *ngIf="avengerEdit" [avenger]="avengerEditSelected"></av-avenger-edit>

  </div>
</div>
