<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>Avengers</h1>

    <hr>

    <av-avenger-view *ngIf="avengerView" [avenger]="avengerSelected" (actionCanceled)="closePanel()"></av-avenger-view>
    <av-avenger-create *ngIf="avengerCreate" (avengerCreated)="refreshView()" (actionCanceled)="closePanel()"></av-avenger-create>
    <av-avenger-edit *ngIf="avengerEdit" [avenger]="avengerSelected" (avengerUpdated)="refreshView()" (actionCanceled)="closePanel()"></av-avenger-edit>

    <hr>
    <div class="row">
      <div class="col-md-8">
        <button class="btn btn-success" (click)="createAvenger()">Add Avenger</button>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Filter" #f (keyup)="0">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-filter"></span>
          </span>
        </div>
      </div>
    </div>
    <hr>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>
          Photo
        </th>
        <th class="clickable" (click)="avOrderBy = 'firstName'">
          First Name
          <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </th>
        <th class="clickable" (click)="avOrderBy = 'lastName'">
          Last Name
          <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </th>
        <th class="clickable" (click)="avOrderBy = 'alias'">
          Alias
          <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </th>
        <th class="clickable" (click)="avOrderBy = 'power'">
          Power
          <span class="glyphicon glyphicon-sort-by-order"></span>
        </th>
        <th class="clickable" (click)="avOrderBy = 'agent'">
          Agent
          <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let avenger of avengers | async | avengerFilter : f.value | avengerOrderBy : avOrderBy">
        <td class="img-cell">
          <img [src]="avenger.imageURL"
               *ngIf="avenger.imageURL"
               class="img-avenger">
        </td>
        <td>{{avenger.firstName}}</td>
        <td>{{avenger.lastName}}</td>
        <td>{{avenger.alias}}</td>
        <td>{{avenger.power}}</td>
        <td>{{avenger.agent.firstName}} {{avenger.agent.lastName}}</td>
        <td>
          <div>
            <p>
              <button class="btn btn-xs btn-success glyphicon glyphicon-user" type="button" (click)="viewAvenger(avenger)"
                      [tooltip]="'Display ' + avenger.alias + ' info'" tooltipPlacement="top"></button>
              <button class="btn btn-xs btn-warning glyphicon glyphicon-pencil" type="button" (click)="editAvenger(avenger)"
                      [tooltip]="'Edit ' + avenger.alias + ' info'" tooltipPlacement="bottom"></button>
              <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" type="button" (click)="removeAvenger(avenger.id)"
                      [tooltip]="'Remove ' + avenger.alias" tooltipPlacement="right"></button>
            </p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
